@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: darkgrey;
}

h1{
    text-align: center;
    color: white;
}

menu ul{
    background-color: gray;
    list-style-type: none;
    margin-bottom: 40px;
}

menu li{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.411);
    padding: 7px;
    color: white;
    border-radius: 10px;
    margin: 5px;
}

article{
    margin-left: 25%;
}

p {
    margin: 10px;
    text-align: justify;
    max-width: 800px;
}